/* RESPONSIVE */
@media (min-width: 40rem) {
  /* =============== */
  /* SKILLS SECTION */
  /* =============== */
  .skills-cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 75%;
    margin-inline: auto;
    gap: 5rem;
  }
}

/* RESPONSIVE */
@media (min-width: 48rem) {
  /* ====== */
  /* HEADER */
  /* ====== */
  .header-logo {
    font-size: 2.4rem;
  }

  .burger-menu,
  .nav__item:nth-child(4),
  .nav__item:nth-child(5),
  .nav__socials {
    display: none;
  }

  .header__nav {
    all: unset;
  }

  .nav__links {
    display: flex;
    gap: 4rem;
    padding-block-start: initial;
  }

  .nav__link {
    color: var(--blue-color);
    transition: var(--transition-2);
  }

  :is(.nav__link):is(:hover, :focus) {
    color: var(--black-color);
    background-image: linear-gradient(var(--blue-color), var(--blue-color));
    background-size: 50% 1px;
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  /* ============ */
  /* HERO SECTION */
  /* ============ */
  .hero-content {
    max-width: 60%;
    margin-inline: auto;
  }

  /* ==================== */
  /* PERSONAL INFORMATION */
  /* ==================== */
  .personal {
    position: fixed;
    left: -15.5rem;
    bottom: 20rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    transform: rotate(-90deg);
  }

  .personal-btns {
    display: flex;
    gap: 1.5rem;
  }

  .personal-btn {
    font-size: 2rem;
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
    transition: var(--transition-2);
  }

  .contact-btn {
    background-color: var(--white-color);
    border: var(--black-color) 1px solid;
  }

  .resume-btn {
    color: var(--white-color);
    background-color: var(--black-color);
    border: var(--black-color) 1px solid;
  }

  :is(.contact-btn):is(:hover, :focus) {
    color: var(--white-color);
    background-color: var(--black-color);
  }

  :is(.resume-btn):is(:hover, :focus) {
    color: var(--black-color);
    background-color: var(--white-color);
  }

  .personal-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: var(--transition-2);
  }

  .personal-icons a {
    display: flex;
  }

  .personal-icons ion-icon {
    font-size: 3.5rem;
    color: var(--black-color);
  }

  :is(.personal-icons ion-icon):is(:hover, :focus) {
    transform: scale(1.15);
  }

  /* ================ */
  /* PROJECTS SECTION */
  /* ================ */
  .projects-content__row {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-content {
    max-width: 80%;
    margin-inline: auto;
  }

  .project-btn {
    padding-block: 1rem;
    padding-inline: 2rem;
  }

  /* =============== */
  /* SKILLS SECTION */
  /* =============== */
  .skills__card-border {
    width: fit-content;
  }

  /* ================ */
  /* CONTACT SECTION */
  /* ================ */
  .contact__content-main {
    width: 300px;
  }
}

@media (min-width: 90rem) {
  /* ================ */
  /* PROJECTS SECTION */
  /* ================ */
  .project-number {
    top: -18rem;
    left: -5rem;
  }

  /* ============== */
  /* SKILLS SECTION */
  /* ============== */
  .skills-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
