/* RESPONSIVE */
@media (min-width: 50rem) {
  /* HEADER */
  .header-logo {
    font-size: 2.2rem;
  }

  .burger-menu,
  .nav__item:nth-child(4),
  .nav__item:nth-child(5),
  .nav__socials {
    display: none;
  }

  .header__nav {
    all: unset;
  }

  .nav__links {
    display: flex;
    gap: 4rem;
    padding-block-start: initial;
  }

  .nav__link {
    font-style: italic;
    font-size: 2rem;
    color: var(--light-grey-color);
    transition: var(--transition-2);
  }

  :is(.nav__link):is(:hover, :focus) {
    color: var(--darker-grey-color);
    background-image: linear-gradient(
      var(--dark-grey-color),
      var(--dark-grey-color)
    );
    background-size: 50% 1px;
    background-position: bottom left;
    background-repeat: no-repeat;
  }

  /* HERO SECTION */
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-content__headline {
    font-size: 1.6rem;
  }

  .about-content {
    width: 500px;
  }

  /* PERSONAL INFORMATION */
  .personal {
    position: fixed;
    left: -15rem;
    bottom: 22rem;
    display: flex;
    align-items: center;
    gap: 4rem;
    transform: rotate(-90deg);
  }

  .personal-btns {
    display: flex;
    gap: 2rem;
  }

  .personal-btn {
    font-size: 2rem;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    transition: var(--transition-2);
  }

  .contact-btn {
    background-color: var(--white-color);
    border: var(--darker-grey-color) 1px solid;
  }

  .resume-btn {
    color: var(--white-color);
    background-color: var(--darker-grey-color);
    border: var(--darker-grey-color) 1px solid;
  }

  :is(.contact-btn):is(:hover, :focus) {
    color: var(--white-color);
    background-color: var(--darker-grey-color);
  }

  :is(.resume-btn):is(:hover, :focus) {
    color: var(--darker-grey-color);
    background-color: var(--white-color);
  }

  .personal-icons {
    display: flex;
    gap: 1.5rem;
    transition: var(--transition-2);
  }

  .personal-icons ion-icon {
    font-size: 3.5rem;
    color: var(--darker-grey-color);
  }

  :is(.personal-icons ion-icon):is(:hover, :focus) {
    transform: scale(1.15);
  }
}
