/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* VARIABLES */
:root {
  /* FONTS */
  --font-playfair: "Playfair Display", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  /* FONT WEIGHT */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi: 600;
  --font-bold: 700;
  /* ION-ICON */
  --ionicon-stroke-width: 16px;
  /* COLORS */
  --darker-grey-color: #2b2424;
  --dark-grey-color: #555050;
  --light-grey-color: rgb(43, 36, 36, 0.6);
  --brown-color: #2f2828;
  --black-color: #000;
  --white-color: #fff;
  --pink-color: #d593a8;
  --green-color: #4a990c;
  --blue-color: #0400cd;
  --light-blue-color: #423fe4;
  /* TRANSITIONS */
  --transition-1: 0.2s ease;
  --transition-2: 0.3s ease;
  --transition-3: 0.4s ease;
}

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: var(--font-poppins);
}

img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

button {
  border: none;
  cursor: pointer;
}

input {
  font-weight: var(--font-semi);
  font-family: var(--font-poppins);
  background: none;
  border: none;
}

ion-icon {
  cursor: pointer;
  stroke-width: var(--ionicon-stroke-width);
}
/* ============== */
/* LOADING SCREEN */
/* ============== */
.loading-screen {
  /* display: none; */
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: var(--font-poppins);
  color: var(--white-color);
  background-color: var(--blue-color);
  transition: var(--transition-3);
  z-index: 10;
}

.loading-screen.inactive {
  transform: translateY(-100vh);
}

.loading-screen__name {
  line-height: 1;
  width: min-content;
  transform: rotate(-90deg);
  font-size: clamp(8.4rem, 11vw, 10rem);
}

.loading-screen__title {
  position: absolute;
  top: 2rem;
  text-align: center;
  font-size: clamp(1.8rem, 3vw, 2.8rem);
}

.loading-screen__title::after {
  content: "";
  display: block;
  height: 1px;
  width: 100vw;
  margin-block-start: 2rem;
  background-color: var(--white-color);
}

/* ======== */
/* REUSABLE */
/* ======== */
.container {
  max-width: 90%;
  margin-inline: auto;
}

.section {
  margin-block: 10rem;
}

.section-heading {
  position: relative;
  margin-block: 8rem;
  line-height: 1.3;
  color: var(--black-color);
}

.section-heading__text {
  font-weight: var(--font-bold);
  font-family: var(--font-poppins);
  font-size: clamp(2.8rem, 5vw, 4.5rem);
}

.section-heading::before {
  position: absolute;
  left: -1rem;
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  background-color: var(--blue-color);
}

.lazy-img {
  filter: blur(20px);
}

/* ====== */
/* HEADER */
/* ====== */
.header {
  height: 20vh;
}

.header .container {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding-block: 1.5rem;
  max-width: 90%;
  border-bottom: var(--blue-color) 1px solid;
  z-index: 5;
}

.header-logo {
  font-weight: var(--font-medium);
  font-size: 2.2rem;
  color: var(--blue-color);
}

/* =========== */
/* BURGER MENU */
/* =========== */
.burger-menu {
  cursor: pointer;
  z-index: 5;
}

.burger-menu__content {
  position: relative;
  width: 50px;
  height: 10px;
}

.burger-menu span {
  position: absolute;
  top: 100%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--blue-color);
  transform: translate(-50%, -50%);
  transition: transform var(--transition-2), width var(--transition-2);
}

.burger-menu .line-1 {
  transform: translate(0, -15px);
}

.burger-menu .line-2 {
  left: auto;
  right: 0;
  width: 50%;
  transform: translate(0, 0);
}

.openmenu .line-1 {
  left: auto;
  background-color: var(--white-color);
  transform: translate(0, 0) rotate(-45deg);
}

.openmenu .line-2 {
  width: 100%;
  background-color: var(--white-color);
  transform: translate(0, 0) rotate(45deg);
}

.header__nav {
  position: fixed;
  top: 0;
  right: -250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: min(250px, 100%);
  background-color: var(--blue-color);
  transition: var(--transition-2);
  visibility: hidden;
  z-index: 4;
}

.header__nav.active {
  visibility: visible;
  transform: translateX(-250px);
  transition-duration: 0.5s;
}

.nav__links {
  padding-block-start: 10rem;
  max-width: 90%;
  text-align: right;
}

.nav__item {
  padding-block: 1rem;
}

.nav__link {
  font-size: 2.4rem;
  color: var(--white-color);
}

.nav__socials {
  display: flex;
  gap: 2rem;
  padding-block-end: 3rem;
  padding-inline-start: 2.5rem;
}

.nav__socials ion-icon {
  font-size: 3.5rem;
  color: var(--white-color);
}

/* ======= */
/* OVERLAY */
/* ======= */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black-color);
  transition: var(--transition-1);
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.overlay.active {
  opacity: 0.8;
  pointer-events: all;
}

/* ============ */
/* HERO SECTION */
/* ============ */
.hero {
  min-height: 70vh;
  margin-block-start: 10rem;
}

.hero .container {
  margin-inline: auto;
  max-width: 75%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: var(--font-poppins);
  color: var(--blue-color);
}

.hero-content__heading {
  font-size: clamp(6rem, 10vw, 15rem);
  border-bottom: var(--blue-color) 2px solid;
}

.hero-content__about {
  max-width: 800px;
  padding-block-start: 2rem;
  font-size: clamp(1.6rem, 2vw, 2.4rem);
}

/* ===================== */
/* PERSONAL INFORMATION */
/* ===================== */
.personal {
  display: none;
  z-index: 6;
}

/* ================ */
/* PROJECTS SECTION */
/* ================ */
.projects .container {
  max-width: 85%;
}

.projects-content {
  font-family: var(--font-poppins);
}

.projects-content__row {
  display: grid;
  gap: 3rem;
  margin-block: 4rem;
  padding-block: 2rem;
  border-top: var(--blue-color) 2px solid;
  border-bottom: var(--blue-color) 2px solid;
}

.projects-content__name {
  position: relative;
}

.project-number {
  position: absolute;
  top: -10rem;
  left: -3rem;
  color: rgba(0, 0, 0, 0.3);
  font-size: clamp(10rem, 10vw, 20rem);
  font-weight: var(--font-bold);
  z-index: -1;
}

.project-name {
  font-weight: var(--font-semi);
  font-size: clamp(2rem, 5vw, 2.4rem);
}

.project-tools {
  padding-block-start: 1rem;
  font-size: clamp(1.2rem, 1vw, 1.6rem);
}

.projects-content__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-description {
  font-size: clamp(1rem, 1.5vw, 1.4rem);
}

.project-btns {
  display: flex;
  gap: 2rem;
  padding-block-start: 2rem;
}

.project-btn {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  font-family: var(--font-poppins);
  font-weight: var(--font-medium);
  background: none;
  border: var(--blue-color) 1px solid;
  transition: var(--transition-1);
}

:is(.project-btn):is(:hover, :focus) {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.projects-content__img {
  display: flex;
}

.projects-content__img img {
  object-fit: contain;
}

/* ============== */
/* SKILLS SECTION */
/* ============== */
.skills .container {
  max-width: 85%;
  padding-block-end: 6rem;
  border-bottom: var(--blue-color) 1px solid;
}

.skills-cards {
  display: grid;
  gap: 3rem;
}

.skills-cards__card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.skills__card-border {
  display: flex;
  align-items: center;
  position: relative;
  border: var(--blue-color) 1px solid;
  padding-block: 4rem;
  padding-inline: 4rem;
}

.border__text {
  position: absolute;
  display: flex;
  font-family: var(--font-poppins);
  font-weight: var(--font-bold);
  font-size: 4rem;
  color: var(--blue-color);
  background-color: var(--white-color);
  transform: rotate(-90deg);
}

.border__text-html {
  right: -5.5rem;
}

.border__text-css {
  right: -4.1rem;
}

.border__text-js {
  right: -11.1rem;
}

.border__text-react {
  right: -8.1rem;
}

.border__text-sass {
  right: -4.7rem;
}

.border__text-git {
  right: -3rem;
}

.border__text-figma {
  right: -6.3rem;
}

.border__text-word {
  right: -11rem;
}

.skills__card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* CONTACT SECTION */
.contact {
  position: fixed;
  bottom: -60vh;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-color: var(--black-color);
  transition: var(--transition-2);
  z-index: 5;
  visibility: hidden;
}

.contact.active {
  visibility: visible;
  transform: translateY(-60vh);
  transition-duration: 0.5s;
}

.contact__content {
  padding-inline: 3rem;
  padding-block: 3rem;
}

.contact__content-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 2rem;
}

.contact__content-heading ion-icon {
  font-size: 5rem;
  color: var(--white-color);
}

.contact__content-main {
  width: 180px;
  font-family: var(--font-playfair);
  font-size: clamp(3rem, 4vw, 4.5rem);
  color: var(--white-color);
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form input {
  margin-block: 1rem;
  padding-block: 1rem;
  width: 100%;
  letter-spacing: 1px;
  color: var(--white-color);
  border-bottom: var(--white-color) 1px solid;
}

.form__submit {
}

.form__submit-btn {
  padding-block: 1rem;
  padding-inline: 5rem;
  letter-spacing: 1px;
  font-family: var(--font-poppins);
  font-weight: var(--font-medium);
  background-color: var(--white-color);
}
